{
    "baseUrl": "http://localhost:3000",
    "accessToken": "111111",
    
    "__comment": "redirect url must be http://localhost for this clientId",
    "clientId": "",
    "clientSecret": "",
    
    "__comment": "used to authorize user  before get access token",
    "userName": "",
    "password": ""
}